@identity:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@uec-labs:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-uec-labs-release/
@unified-experience-components:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-unified-experience-components-release/
